/* Styling Mobile Sized device first */


body{
	background: #f8f8f8;
	width: 100%;
	font: normal 12px/20px Helvetica, HelveticaNeue, sans-serif;
	color: #4f4f4f;
	padding: 0;
}

.container{
	clear: both;
	width: 90%;
	margin: 0 auto;
}

/* Start of header id */

#header{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;

}

.logo{
	height: 150px;
	width: 150px;
	-webkit-filter: grayscale(50%);
	
}


#header h3{
	font-style: Helvetica, HelveticaNeue, sans-serif;
	font-weight: bolder;
	font-size: 30px;
	letter-spacing: 4px;
	color: #7e7e7e;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-menu{
	display: none;
}

#main-menu{
	list-style: none;
	width: 90%;
	height: auto;
	padding: 0px;
	margin: 0 auto;
	margin-top: 10px;
}

#main-menu li{
	border: 6px solid #ededed;
	width: 90%;
	display: inline-block;
	margin: 10px auto;
	padding: 5px;
}

#main-menu li a{
	font-style: Helvetica, HelveticaNeue, sans-serif;
	font-weight: bold;
	color: #A9A9A9;
	text-decoration: none;
	letter-spacing: 2px;

}

#main-menu li em{
	font-size: 10px;
	padding: 2px;
	font-weight: normal;

}

#main-menu li a:hover{
	color: #7e7e7e;
	cursor: pointer;

}

#main-menu li a:hover > em{
	font-weight: normal;
}

#hamburger{
	width: 20%;
	display: inline-block;
	line-height: 0px;
	font-weight: bold;
	font-size: 15px;
}

#hamburger p{
	margin-top: -5px;

}

#hamburger:hover{
	cursor: pointer;
}


/* end of header id */

#main-slider img{
	width: 100%;
	display: block;
	height: 515px;
	margin: 0 auto;
	position: relative;
	-webkit-filter: grayscale(50%);
}

.bottom-container{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 90%;	
	height: auto;

}	

.section-info{
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	width: 100%;	
	height: auto;
	
}

.section-split{
	position: relative;
	height: 20px;
	margin: 50px 0px 50px 0px;
	border-top: 6px solid #ededed;
	border-left: 6px solid #ededed;
	border-right: 6px solid #ededed;

}	

.section-middle{
	position: relative;
	background-color: #f8f8f8;
	max-width: 200px;
	height: 40px;
	margin: 0 auto;
	margin-top: -30px;
	text-align: center;
	border: 6px solid #ededed;

}
.section-split-img{
	height: 40px;
	width: 40px;
	
}

.section-split-arrow{
	margin-left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ededed;
}

.info-row{
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;

}
.boxes{
	position: relative;
	height: auto;
	margin: 0 auto;
	text-align: center;
	font: normal 12px/45px Grotesk, sans-serif;
	color: #7e7e7e;
	border: 6px solid #ededed;
	
}

.about{
	background-color: purple;
}

.education{
	background-color: yellow;
}

.experience{
	background-color: orange;
}

.projects{
	background-color: silver;
}

		
@media (min-width: 1267px){

	#hamburger{
		display: none;
	}

	#main-menu li em{
		font-size: 10px;
		padding: 2px;
		font-weight: normal;
	}

	#main-menu{
		display: inline-block;
		width: 80%;
		height: 40px;
		border: 6px solid #ededed;
		margin: 0 auto;
	}

	#main-menu li{
		display: inline-block;
		padding: 0 15px;
		height: 40px;
		line-height: 40px;
		font-size: 15px;
		font-weight: 500;	
	}


	#main-menu li a:hover{
		color: #7e7e7e;
	}

	#main-menu li a:hover > em{
		font-weight: normal;
	}

	#education:hover ~ #arrow{
		margin-left: 27%;
		transition: .5s;
	}

	#experience:hover ~ #arrow{
		margin-left: 49%;
		transition: .5s;
	}

	#projects:hover ~ #arrow{
		margin-left: 70%;
		transition: .5s;
	}

	#contact:hover ~ #arrow{
		margin-left: 90%;
		transition: .5s;
	}

	#arrow{
		margin-left: 8%;
		width: 0; 
	  	height: 0; 
	  	border-left: 15px solid transparent;
	  	border-right: 15px solid transparent;
	  	border-top: 15px solid #ededed;
	  	transition: .5s;
	}

}

